* {
    margin: 0;
    padding: 0;
}

header, body, main, footer, nav, aside, section, div {
    display: block;
}

.wrapper {
    background-image: url(/images/ferrari2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    background-color: #f7f8f9;
}

header {
    width: 100%;
    height: 80px;
    background-color: #6495ED;
    display: flex;
    justify-content: center;
    text-align: center;
}

header #header1 {
    margin-top: 10px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

header #header2 {
    display: flex;
    margin-top: 10px;
    height: 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 66px;
    background-color: #6495ED;
    position: fixed;
    bottom: 0;
}

#firstDivide {
    height: 500px;
    position: relative;
    margin: 1% 10% 1% 10%;
    padding: 1% 2%;
    border: 1px solid black;
    background-color: #f7f8f9;
}

#checkboxchoice {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.homebuttons {
    margin-top: 14%;
    margin-left: 40%;
}

/* .workoutslist ul {
    margin-top: 5%;
    margin-left: 10%;
}

.workoutslist li {
    margin-bottom: 2%;
} */

.workoutstable {
    margin-top: 5%;
    margin-left: 10%;
}

.workoutstable table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* .workoutstable th, td {
  padding: 15px;
} */

.workoutstable th, td {
    text-align: center;
}

.workoutstable table {
    border-spacing: 5px;
}